body{ background-color: #ffff71e7;}

#ask{
    font-family: fantasy;
    font-size: 3em;
    text-shadow: -2px 0 pink, 0 2px pink, 2px 0 pink, 0 -2px pink;
}

#joke_label{
    font-size: 1.5em;
    font-style: italic;
}